@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --themeDarkColor: rgb(2, 100, 120);
  --themePrimaryColor: #02ccc0;
  --themeSecondaryColor: #7bfaf1;
  /* --primaryContrastColor: #ffc107; */
  /* --primaryContrastColor: #e4e400; */
  --primaryContrastColor: #c45200;
  --blackColor: rgb(0, 0, 0);
  --slightblackColor: rgb(48, 48, 48);
  --whiteColor: white;
}


.navbar {
  background-color: var(--themePrimaryColor) !important;
  border-bottom-left-radius: 130px;
  font-weight: bold;
  padding: 0px 20px;
  background-image: linear-gradient(to bottom left, var(--themePrimaryColor), var(--slightblackColor));

}

.nav-item a {
  color: white !important;

}

.nav-item a.active {
  color: var(--primaryContrastColor) !important;
}



body {
  font-family: "Poppins", sans-serif;
  background-color: var(--themeDarkColor) !important;

  overflow-x: hidden;
  width: 100%;
}

html,
body {
  scroll-behavior: smooth;

  overflow-x: hidden;
}



.NavGitHub {
  color: var(--blackColor) !important;
}



#header {
  height: 100vh;
  width: 100%;
}

/* Home Page Styling:_______________________________________ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  margin-top: 100px !important;
  padding-left: 15em;
}

.hello {
  width: 80%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 81rem;
  width: 100%;
  margin: auto;
  padding: 0 3rem;
}

.big-title {
  font-size: 1.4rem;
  text-transform: capitalize;
  line-height: 1.4;
  color: var(--whiteColor);
}

strong {
  color: var(--primaryContrastColor);
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.7em 1.9em;
  color: var(--primaryContrastColor) !important;
  font-weight: bold;
  border: 2px solid var(--primaryContrastColor) !important;
  background-color: transparent;
  border-radius: 60px;
  transition: all 0.7s ease;
}

.btn:hover {
  background-color: var(--primaryContrastColor);
  color: var(--blackColor) !important;
  border: 1px solid var(--themePrimaryColor);
}

.text {
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
  color: var(--whiteColor);
}

input[type="radio"] {
  margin-right: 0.5em !important;
  position: relative;
  top: 0.2em;
  height: 1em;
  width: 1em;
  cursor: pointer;
}

.radio {
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 0.5em !important;
}

input,
textarea,
select {
  border: 1.5px solid var(--blackColor) !important;
  border-radius: 0.5em !important;
  padding: 0.5em auto !important;
  outline: none;
  color: var(--blackColor) !important;
  font-size: 1em !important;
  background-color: transparent !important;
}

.form-div {
  margin-top: 2rem !important;
  /* border: 1px solid var(--blackColor); */
  /* border: none; */
  /* outline: none; */
  background-color: #00435a;
  /* border-radius: 1.5em !important; */
  box-shadow: 2px 2px 50px var(--blackColor);
}

.form-div form input {
  color: white;
}

/* ----- */
/* .contactHeading { */

/* position: fixed !important;
  top: 3em; */

/* ----------- */
/* margin-top: 1em !important; */

/* background-color: #ff008d; */


/* color: rgb(226, 255, 10);
  background-color: var(--blackColor);
  line-height: 3em !important;
  font-weight: bold;
  font-size: 4em !important;
} */



@media screen and (max-width: 992px) {
  .navbar {
    background-color: var(--themePrimaryColor) !important;
  }

  .nav-link {
    color: #000000 !important;
  }

  .active {
    color: var(--whiteColor) !important;
  }

  .NavGitHub {
    color: var(--blackColor) !important;
  }

  #navbarSupportedContent {
    text-align: center;
  }
}


@media screen and (max-width: 870px) {
  .showcase-area .container {
    text-align: center;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .btnDiv {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .big-title {
    font-size: 1.1rem;
  }

  #home {
    padding: unset;
  }

  .flexCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }
}

/* _______________________________________________________________ */



/* ______________________________footer-styling__________________________________ */


footer {
  background-color: var(--themePrimaryColor);
}

/* ________________________________footer-styling end____________________________ */


/* ______________________________certificate_card-styling start__________________________________ */


.card {
  height: 500px;
  width: 300px;
  display: inline-block;
  margin: 150px 20px !important;
  box-shadow: 2px 2px 50px black;
  /* outline: none; */
  display: inline-block;
  height: 525px;
  min-height: 525px;
  width: 25%;
  min-width: 320px;
  padding: 0px 0px;
  /* border-radius: 15px; */
  border: none;
  margin-top: 65px;
  background-image: linear-gradient(to top left, var(--themePrimaryColor), var(--blackColor));
}



.card h1 {
  text-align: center;
  background-color: rgba(131, 131, 131, 0.37);
  line-height: 120px;
}



.card {
  box-shadow: 2px 2px 50px black;
  outline: none;
  display: inline-block;
  height: 525px;
  min-height: 600px;
  width: 25%;
  min-width: 320px;
  padding: 0px 0px;
  /* border-radius: 15px; */
  margin-top: 65px;
  background-image: linear-gradient(to top left, var(--themePrimaryColor), var(--blackColor));
}

.card img {
  border-radius: 25px;
  height: 225px;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.card .info {
  margin: 8px;
  position: relative;
  bottom: -44px;
  padding-left: 25px;
  background: none;
}

.card .info h3 {
  color: var(--primaryContrastColor);
}

.card span {
  color: var(--whiteColor);
  margin: 6px;
  line-height: 10px;
  font-size: large;
  background: none;
}

.card h3 {
  color: var(--whiteColor);
  margin: 4px;
  line-height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  padding-bottom: 10px;
  background: none;
}

.card .btnDiv {
  position: absolute;
  /* margin-left: 5px; */
  left: 25px;
  bottom: 25px;
}



/* ______________________________certificate_card-styling start_______________________________________ */


.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010101c2;
  /* z-index: 100; */
  display: block;
}

/* 
.popup-image image{
  height: 4000px;
  width: 4000px;
} */
.pop_img {
  border: 2px solid white;
  height: 500px !important;
  width: 500px !important;
  position: fixed;
  z-index: 101;
  top: -55px;
  left: 509px;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: center center;

}